@import '~antd/dist/antd.css';

.ant-card-head-title{
    font-size: large;
    font-weight: bold;
}

.ant-descriptions-title{
    text-align: center;
    font-size: x-large;
}

.App{
    background-color: #f5f8fa;
}

